* {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}


/*******************
 top portion of form 
 ******************/


/* put light blue background color on background of page */

body {
    background-color: rgba(191, 251, 255, 0.12)
}


/* the color, text color, and paragrpah color of text, as well as 
positioning of the text from here up to the .one class*/

header {
    background-color: rgb(33, 48, 69);
    text-align: center;
    padding: 8px;
    width: 100%;
}

header,
h1,
h2,
p {
    color: white;
}

h2 {
    padding-top: 24px;
}

.one {
    outline: rgb(172, 172, 172) solid 1px;
    filter: blur(1px);
}


/* horizontal line break with a blur effect */

hr {
    filter: blur(1px);
}


/* setting up the form to be center to the page with the parent element 
set as display: flex so the justify-content: center takes effect with the 
elements that follow after */

form {
    display: flex;
    margin-bottom: 5px;
    padding: 10px;
    margin: 0 auto;
    max-width: 350px;
}

form fieldset {
    border: none;
}

.contact {
    padding-top: 40px;
    font-size: 30px;
}

form .contact {
    justify-content: center;
    text-align: center;
    padding-bottom: 21px;
}

.contact label {
    color: rgb(66, 87, 110);
}

.hor {
    padding-bottom: 15px;
    padding-right: 80px;
    text-align: center;
    border-right: 100px;
}

.S2,
label,
.hor {
    display: block;
    margin-bottom: 11px;
    border-color: rgb(235, 235, 235);
    background: white;
    border-radius: 70px;
}

#select-design {
    outline: none;
}


/* when the input box is selected, the box itself shrinks as well 
 as a thin aqua border box forms around said highlighted element */

input {
    transition-duration: .2s;
}


/* this peice of css is in direct correlation to the previous comment */

input:focus {
    outline: solid 1px rgb(41, 208, 178);
    padding: 8px;
}


/***** line break - entering second half of form *****/

.two {
    outline: rgb(172, 172, 172) solid 1px;
}


/****************************
 second portion of form below
****************************/

.newsletter {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 30px;
}

.newsletter-format {
    padding-top: 75px;
    padding-bottom: 25px;
    font-size: 30px;
}

input::placeholder {
    padding-left: 60px;
}

 ::placeholder {
    font-style: italic;
}

.other-topics {
    padding-top: 50px;
}

textarea {
    max-width: 300px;
    border: none;
    border-radius: 20px;
    background: rgb(212, 212, 212);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 30px;
}

#t-a {
    outline: none;
}

button {
    width: 300px;
    border-radius: 100px;
    padding-top: 35px;
    padding-bottom: 55px;
    background-color: rgb(50, 168, 168);
    font-size: 20px;
    text-align: center;
    height: 38px;
    color: white;
}

.copy {
    margin: 0 auto;
    text-align: center;
    color: lightgray;
}


/********************
 ***** Qureies ******
 *******************/

@media (min-width: 768px) {
    form,
    label {
        display: inline-block;
    }
    .form {
        max-width: 50%;
        margin: auto;
        /* i feel like i have to set position: relative but i see no difference when i add that?? */
    }
}