* {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}


/*******************
 top portion of form 
 ******************/


/* put light blue background color on background of page */

body {
    background-color: rgba(191, 251, 255, 0.12);
    margin: 0 auto;
    max-width: 100%;
}


/* the color, text color, and paragraph color of text, as well as 
positioning of the text from here up to the .one class*/

header {
    background-color: rgb(33, 48, 69);
    text-align: center;
    padding: 8px;
    width: 100%;
}


/* makes text in selected elements white */

header,
h1 {
    color: white;
}

h2,
p {
    text-align: center;
    padding-bottom: 5px;
}

p {
    color: lightgrey;
}


/* puts spacing between h1 code review text and h2 signup newsletter text */

h2 {
    padding-top: 24px;
}


/* first line break */

.one {
    outline: rgb(172, 172, 172) solid 1px;
    filter: blur(1px);
}

hr {
    filter: blur(1px);
    width: 90%;
}


/* setting up the form to be center to the page with the parent element 
set as display: flex so the justify-content: center takes effect with the 
elements that follow after */


/* takes away default border around the fieldset portion of the form */

form fieldset {
    border: none;
}

fieldset {
    max-width: 100%;
}


/* targets above spacing and font size for first legend element */

.contact {
    padding-top: 30px;
    font-size: 27px;
    padding-bottom: 25px;
}


/* targets any label element associated with the "contact" class */


/* all input elements with the "hor" class is given padding, 
text aligning and emphasis of a border on the selected side (right)*/

.hor {
    padding-bottom: 14px;
    width: 100%;
    text-align: center;
    border: solid 1px;
}


/* why isn't email address label below the full name label? 
why are those 2 labels on the same line? */

.S1 {
    margin: auto;
}

.S1 input {
    padding: 12px;
}

form,
label,
.hor {
    display: block;
    outline: none;
    margin: auto;
    margin-bottom: 11px;
    border-color: rgb(235, 235, 235);
    border-radius: 70px;
}

label {
    color: gray;
}

#select_design {
    height: 45px;
}

input {
    margin-bottom: 15px;
}


/***** line break - entering second half of form *****/

.two {
    outline: rgb(172, 172, 172) solid 1px;
}

.S2 {
    margin: auto;
}


/****************************
 second portion of form below
****************************/


/* how to get checkboxes and buttons centered and aligned..? */

.newsletter {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 27px;
}

h4 {
    color: gray;
}

.newsletter-format {
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 20px;
    color: gray;
}

#html,
#css,
#js {
    margin: auto;
}

#rbtn,
#rbtn1 {
    margin: auto;
}

input::placeholder {
    margin: auto;
}

 ::placeholder {
    font-style: italic;
}

.other-topics {
    padding-top: 50px;
}

textarea {
    outline: none;
    border: none;
    border-radius: 20px;
    background: rgb(212, 212, 212);
    width: 100%;
    margin: auto;
    padding-bottom: 30px;
}

button {
    width: 100%;
    border-radius: 100px;
    padding-top: 35px;
    padding-bottom: 55px;
    margin-top: 25px;
    background-color: rgb(50, 168, 168);
    font-size: 20px;
    height: 38px;
    color: white;
}

.copy {
    padding-top: 10px;
    margin: 0 auto;
    color: lightgray;
}


/********************
*********************
***** QUERIES *******
*********************
********************/


/****** 320px ******/

@media (min-width: 768px) {
    form {
        display: flex;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }
    label {
        float: left;
    }
    input {
        float: right;
    }
    select {
        float: right;
        max-width: 70%;
    }
}


/********* 768px *********/

@media (min-width: 1024px) {}