* {
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
}


/*******************
 top portion of form 
 ******************/


/* put light blue background color on background of page */

body {
    background-color: rgba(191, 251, 255, 0.12);
    margin: 0 auto;
    max-width: 100%;
}


/* the color, text color, and paragraph color of text, as well as 
positioning of the text from here up to the .one class*/

header {
    background-color: rgb(33, 48, 69);
    text-align: center;
    padding: 8px;
    max-width: 100%;
}


/* makes text in selected elements white */

header,
h1 {
    color: white;
}

h2,
p {
    text-align: center;
    padding-bottom: 5px;
}

p {
    color: lightgrey;
}


/* puts spacing between h1 code review text and h2 signup newsletter text */

h2 {
    padding-top: 24px;
}


/* first line break */

.one {
    outline: rgb(172, 172, 172) solid 1px;
    filter: blur(1px);
    width: 100%;
}

hr {
    filter: blur(1px);
    width: 100%;
}


/* setting up the form to be center to the page with the parent element 
set as display: flex so the justify-content: center takes effect with the 
elements that follow after */


/* takes away default border around the fieldset portion of the form */

form fieldset {
    border: none;
}

fieldset {
    max-width: 100%;
}


/* targets above spacing and font size for first legend element */

.contact {
    padding-top: 30px;
    font-size: 27px;
    padding-bottom: 25px;
}


/* targets any label element associated with the "contact" class */


/* all input elements with the "hor" class is given padding, 
text aligning and emphasis of a border on the selected side (right)*/

.hor {
    padding-bottom: 14px;
    width: 100%;
    text-align: center;
    border: solid 1px;
}


/* why isn't email address label below the full name label? 
why are those 2 labels on the same line? */

.S1 {
    margin: auto;
}

.S1 input {
    padding: 12px;
}

form,
label,
.hor {
    display: block;
    outline: none;
    margin: auto;
    margin-bottom: 11px;
    border-color: rgb(235, 235, 235);
}

label {
    color: gray;
}

#select_design {
    height: 45px;
}

input {
    margin-bottom: 15px;
    border-radius: 7px;
}

#zip {
    width: 40%;
    margin: 0;
}


/***** line break - entering second half of form *****/

.two {
    outline: rgb(172, 172, 172) solid 1px;
}

.S2 {
    margin: auto;
}


/****************************
 second portion of form below
****************************/


/* how to get checkboxes and buttons centered and aligned..? */

.newsletter {
    padding-top: 40px;
    padding-bottom: 10px;
    font-size: 27px;
}

h4 {
    color: gray;
}

.newsletter-format {
    padding-top: 35px;
    padding-bottom: 25px;
    font-size: 20px;
    color: gray;
}

#html,
#css,
#js {
    padding-left: 10px;
}

.S2 label {
    display: inline;
}

.S2 .R1,
.S2 .R2 {
    display: inline;
}

input::placeholder {
    margin: auto;
}

 ::placeholder {
    font-style: italic;
}

textarea {
    outline: none;
    border: none;
    border-radius: 20px;
    background: rgb(212, 212, 212);
    width: 100%;
    margin: auto;
    margin-top: 15px;
    padding-bottom: 30px;
}

button {
    width: 100%;
    border-radius: 100px;
    padding-top: 35px;
    padding-bottom: 55px;
    margin-top: 25px;
    background-color: rgb(50, 168, 168);
    font-size: 20px;
    height: 38px;
    color: white;
}

.copy {
    padding-top: 10px;
    padding-bottom: 70px;
    margin: 0 auto;
    color: lightgray;
}


/********************
*********************
***** QUERIES *******
*********************
********************/


/****** 7680px ******/

@media (min-width: 768px) {
    body {
        background-color: rgba(191, 251, 255, 0.12);
        margin: auto;
        width: 70%;
    }
    header {
        background-color: rgb(33, 48, 69);
        text-align: center;
        padding: 8px;
        max-width: 100%;
        /* i thought max width overrode regular width?? */
    }
    header,
    h1 {
        color: white;
    }
    h2,
    p {
        text-align: center;
        padding-bottom: 5px;
    }
    p {
        color: lightgrey;
    }
    h2 {
        padding-top: 24px;
    }
    .one {
        outline: rgb(172, 172, 172) solid 1px;
        filter: blur(1px);
        width: 100%;
    }
    hr {
        filter: blur(1px);
        width: 100%;
    }
    form {
        display: block;
    }
    form fieldset {
        border: none;
    }
    fieldset {
        max-width: 100%;
    }
    .contact {
        padding-top: 30px;
        font-size: 27px;
        padding-bottom: 25px;
    }
    .desktop1 label,
    .desktop2 label,
    .desktop3 label,
    .desktop4 label,
    .desktop5 label,
    .desktop7 label {
        display: inline-block;
        width: 12%;
    }
    .desktop1 input,
    .desktop2 input,
    .desktop3 input,
    .desktop4 input,
    .desktop5 input,
    .desktop7 input {
        width: 70%;
        display: inline-block;
        margin-left: 25px;
    }
    /* Can't get input to move anywhere no matter what padding or 
    position I choose */
    label {
        color: gray;
    }
    #select_design {
        width: 70%;
        margin-left: 26px;
        margin-bottom: 10px;
    }
    input {
        margin-bottom: 15px;
        border-radius: 7px;
    }
    #zip {
        width: 30%;
        margin-left: 25px;
    }
    /***** line break - entering second half of form *****/
    .two {
        outline: rgb(172, 172, 172) solid 1px;
    }
    .S2 {
        margin: auto;
    }
    /****************************
     second portion of form below
    ****************************/
    .newsletter {
        padding-top: 40px;
        padding-bottom: 10px;
        font-size: 27px;
    }
    h4 {
        color: gray;
    }
    .newsletter-format {
        padding-top: 35px;
        padding-bottom: 25px;
        font-size: 20px;
        color: gray;
    }
    #html,
    #css,
    #js {
        padding-left: 10px;
    }
    .S2 label {
        display: inline;
    }
    .S2 .R1,
    .S2 .R2 {
        display: inline;
    }
    input::placeholder {
        margin: auto;
    }
     ::placeholder {
        font-style: italic;
    }
    textarea {
        outline: none;
        border: none;
        border-radius: 20px;
        background: rgb(212, 212, 212);
        width: 100%;
        margin: auto;
        margin-top: 15px;
        padding-bottom: 30px;
    }
    button {
        width: 100%;
        border-radius: 100px;
        padding-top: 35px;
        padding-bottom: 55px;
        margin-top: 15px;
        background-color: rgb(50, 168, 168);
        font-size: 20px;
        height: 38px;
        color: white;
    }
    .copy {
        padding-top: 10px;
        padding-bottom: 70px;
        margin: 0 auto;
        color: lightgray;
    }
}